<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CQLJ | Admin</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/api/admin/css">
    <link rel="icon" href="/img/icone.png" type="image/png">
</head>
<body>
    <div class="header"></div>
    <main>
        <div id="games" class="col list-contaner">
            <div class="col center">
                <div class="row start">
                    <div class="col" style="min-width: 300px;">
                        <h2>Infos sur l'utilisateur</h2>
                        <p><strong>Id : </strong><%= user.id %></p>
                        <p><strong>Nom : </strong><%= user.username %></p>
                        <p><strong>Bio : </strong><%- user.bio ? "<br>" : ""%><%= user.bio || "Aucune bio" %></p>
                        <p><strong>Role : </strong><%= user.role === 1 ? "Admin" : "Joueur" %></p>
                        <p><strong>A vu le dernier patch : </strong><%= user.patch === 1 ? "Oui" : "Non" %></p>
                    </div>
                    <div class="row start">
                        <div class="col">
                            <button id="delete_user" >Supprimer l'utilisateur</button>
                            <div class="col no-gap center"><button>Reset le mot de passe</button><small>(Bient么t)</small></div>
                            <div class="col no-gap center"><button>Modifier les infos</button><small>(Bient么t)</small></div>
                        </div>
                        <div class="col">
                            <div class="col no-gap center"><button>Voir le profil</button><small>(Bient么t)</small></div>
                            <div class="col no-gap center"><button>Envoyer une notif</button><small>(Bient么t)</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        config = {
            contact: false,
            ".header": {
                "logo-container" : true,
                "menu" : true
            },
            "footer": false
        }

        user = <%- JSON.stringify(user) %>;
    </script>
    <script src="/js/main.js" ></script>
    <script src="/api/admin/js/admin.js" ></script>
    <script src="/api/admin/js/user.js" ></script>
   <script src="/js/notify.js" ></script>
</body>
</html>